html{
    height: 100%;
    width: 100%;
    background-color: rgb(78, 123, 245);
     text-align: center; 
    /* padding: 2%; */
    color: aliceblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

 body{
    background-color: rgb(85, 172, 253);
    border:2px solid rgb(0, 183, 255);
    /* margin-top: 60px; */
     margin-left: 200px;
    margin-right: 200px;
    /* margin-bottom: 100px; */
    padding-left: 300px;
    padding-top: 5px;
 }

img{
    width: 45%;
    /* margin: auto; */
    margin-right: 600px;
    /* margin-left: 20px; */
    /* padding-top: 10px; */
    /* padding-right: 120px; */
    float: right;
}

div ul{   
    display: inline;
}
 

 